
{% extends 'base.html' %}
{% from "security/_macros.html" import render_field_with_errors %}
{% include "security/_messages.html" %}

{% block head %}

{% endblock %}
{% block page_body %}

    <section id="wrapper">
        <div class="login-register" style="background-image:url(../static/images/background/AI-bg.jpg);">
            <div class="login-box card">
                <div class="card-body">
                    <form class="form-horizontal form-material" action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
                        <h3 class="box-title m-b-20">Change Password</h3>
      
                        {{ change_password_form.hidden_tag() }}

                        {{ render_field_with_errors(change_password_form.password) }}
                        {{ render_field_with_errors(change_password_form.new_password) }}
                        {{ render_field_with_errors(change_password_form.new_password_confirm) }}

                        <div class="form-group text-center m-t-20">
                            <div class="col-xs-12">
                                <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light waves-button-input" type="submit">Change Password</button>
                           
                            </div>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </section>

{% endblock page_body %}

